.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 10%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: 70%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 60%
    right: 80%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.banner-principal__img
  width: 35%

.bg
  &-c1
    background-image: url(../assets/curso/intro/img1.svg)
    background-repeat: no-repeat
    margin-inline: -3.2rem !important
    background-size: contain